[submodule "ToyEngine/vendor/GLFW"]
	path = ToyEngine/vendor/GLFW
	url = https://github.com/zackthomas1/glfw.git
[submodule "ToyEngine/vendor/stb"]
	path = ToyEngine/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "ToyEngine/vendor/glm"]
	path = ToyEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "ToyEngine/vendor/spdlog"]
	path = ToyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ToyEngine/vendor/dearimgui"]
	path = ToyEngine/vendor/dearimgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ToyEngine/vendor/assimp"]
	path = ToyEngine/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/zackthomas1/ToyEngine.wiki.git
